.container {
  height: 100%;
  width: 100%;
  color: #EEE;
  position: relative;
  font-family: 'Heebo', sans-serif;
}

.container:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: #9366a1; /*top colour*/
  background-image: -webkit-linear-gradient(top, #9366a1, #b5bffd);
  background-image: -moz-linear-gradient(top, #9366a1, #b5bffd);
  background-image: -o-linear-gradient(top, #9366a1, #b5bffd);
  background-image: linear-gradient(to bottom, #9366a1, #b5bffd);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutContainer, .landingContainer {
  height: 100%;
  width: 100%;
}

.centreWrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  h1, p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 60px;
  }

  p {
    margin: 1rem 0;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .aboutContainer {
    .centreWrap {
      top: 0%;
      transform: none;
    }

    .about {
      width: 70%;
    }

    .back {
      top: 15px;
      left: 15px;
    }

    .control {
      width: 100%;
      padding-left: 0;
      margin-bottom: 10px;

      img {
        height: 40px;
      }

      div {
        width: calc(100% - 60px);
      }
    }

    .controlRow {
      margin-bottom: 0;
    }

    .section {
      padding: 0.5em 0;

      &:first-child {
        padding-top: 2em;
      }
    }
  }
}

.buttonWrap {
  display: inline-block;
  margin-top: 2rem;

  button {
    width: 150px;
    cursor: pointer;
    padding: 1rem;
    margin: 0 1rem;
    color: #EEE;
    background-color: transparent;
    border: 2px solid #EEE;


    &:hover {
      border-color: #FFF;
      color: #FFF;
    }
  }
}

.madeWith {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;

  a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #42A5F5;
    }
  }
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.about {
  width: 80%;
  margin: auto;
  text-align: left;


  p {
    font-size: 15px;
  }
}

.section {
  padding: 2em 0;
}

.controlRow {
  margin-bottom: 20px;
}

.control {
  width: 50%;
  display: inline-block;
  text-align: left;
  padding-left: 3em;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    margin-right: 20px;
    height: 50px;
  }
}
