.container {
  height: 100%;
  width: 100%;
  color: #EEE;
  position: relative;
  font-family: 'Heebo', sans-serif;

  background-color: #9366a1; /*top colour*/
  background-image: -webkit-linear-gradient(top, #9366a1, #b5bffd);
  background-image:    -moz-linear-gradient(top, #9366a1, #b5bffd);
  background-image:      -o-linear-gradient(top, #9366a1, #b5bffd);
  background-image:         linear-gradient(to bottom, #9366a1, #b5bffd);
}

.centreWrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  h1, p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 60px;
  }

  p {
    margin: 1rem 0;
    font-size: 20px;
  }
}

.buttonWrap {
  display: inline-block;
  margin-top: 2rem;

  button {
    width: 150px;
    cursor: pointer;
    padding: 1rem;
    margin: 0 1rem;
    color: #EEE;
    background-color: transparent;
    border: 2px solid #EEE;


    &:hover {
      border-color: #FFF;
      color: #FFF;
    }
  }
}

.madeWith {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;

  a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #42A5F5;
    }
  }
}
