@import "normalize.css";
@import "roboto-fontface";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  min-height: 100vh;
  height: 100%;
}
